
// 覆盖
.el-button--primary:focus, .el-button--primary:hover {
    background: rgba($cbdBlue,.8);
    border-color: $cbdBlue;
}
.el-button--primary {
    background-color: $cbdBlue;
    border-color: $cbdBlue;
}

